<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Forest Predictor</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body class="bg-dark">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg"></nav>
                <a class="navbar-brand" href="index.html">eCommerce</a>

        </nav>
    <div class="jumbotron">
        <h1 class="display-4">Predict The Review Score</h1>
          </div>

    
    <div class="login">
        <h1>Predict Review Score</h1>
         <h3> Enter the following values to find the Review Score</h3>
        <! -- Main inputs for recieving Query to our ML -->
        <form action = "{{url_for('predict')}}"method= "post">
            <input type="text" name="zipcode" placeholder ="Zip Code" required = "required" />
            <input type="text" name="time_estimate_to_delivery" placeholder ="Days Delayed or Early" required = "required" />
        <button type = "Submit" class ="btn">Predict</button>
        </form>
    <br>
    <br>
    {{ prediction_text }}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
            <script src="static/js/app.js"></script>
    
        
</body>
</html>

      

    
    
